<div class="card devise-form">

  <div class="card-header ">
    <h2>Забыли пароль?</h2>
  </div>

    <div class="card-body">

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: 'Электронная почта:', placeholder: 'user@domain.com', required: true, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Прислать ссылку для сброса пароля", class: "btn btn-primary" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
