<!DOCTYPE html>
<html>
  <head>
    <title>Mywordlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to 'Все слова', words_path %>
    <%= link_to 'Добавить слово', new_word_path %>

    <%= yield %>
  </body>
</html>
