<!DOCTYPE html>
<html>
  <head>
    <title>Mywordlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link"><%= link_to 'MyWordList', root_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to 'Добавить слово', new_word_path %></a>
        </li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </body>
  </div>
</html>
